body{
    background: #071021 url("AdobeStock_Background.svg") no-repeat 16% -23%;
    background-size: 100%;
    margin:0;
    font-family: Inter, sans-serif;
    header{
        position: static;
        top: 0;
        background-color: white;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        align-content: space-between;
        .login-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            background-color: black;
            color: white;
            font-weight: 300;
            padding: 15px;
            height: 20px;
            font-size: 1rem;
            border-radius: 10px;
            margin-top: 5px;
            margin-right: 2%;
            a{
                text-decoration: none;
                color: white;
            }
            a:visited{
                text-decoration: none;
            }
        }
        a{
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: row;
            img{
                width: 35%;
            }
        }
        a:visited {
        text-decoration: none;
        }

    }

    .header-container{
        display: flex;
        flex-direction: row;
        padding: 3px;
    }
    .search-box{
        background-color: white;
        width: 60%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    .search-form{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        align-content: space-between;
        width: 100%;
    }

    }
    select{
        align-content: center;
        font-weight: 400;
        font-size: 16px;
        height: 5vh;
        width:auto;
        border: solid #D0D5DD 1px;
        background-color: white;
        border-radius: 10px;

    }
    input {
        align-content: center;
        background-color: white;
        border: solid #D0D5DD 1px;
        border-radius: 10px;
        font-weight: 400;
        font-size: 16px;
        height: 5vh;
        width: 65%;

    }
    button{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        background-color: black;
        color: white;
        font-weight: 300;
        padding: 15px;
        font-size: 1rem;
        border-radius: 10px;
        img{
            padding-right: 10px;
        }

    }
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 1rem;
        .info-box{
        margin-top: 2%;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        background: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .back-button{
            a{
                text-decoration: none;
                border-color: white;
                box-shadow: none;
            }
            img{
                width: 32px;
                margin: 10px;
            }
        }
        .scan-container{
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            align-items: flex-start;
            .Scan{
                font-size: 32px;
                padding-left: 5%;
                margin-bottom: 0;
        }
        }

        p{
            padding-left: 5%;
            font-weight: 600;
            color:gray;
            text-align: left;
            font-size: 12px;
        }
        h4{
            padding-left: 5%;
            margin-top: 2px;
            text-align: left;
            font-size: 14px;
            text-wrap: nowrap;
        }
        .patient-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            width: 60%;
            div{
                display: flex;
                width: auto;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                align-content: center;
                padding-left: 3%;
            }
        }
        }
        .download-container{
            width: 75%;
            background: white;
            display: flex;
            justify-content: flex-end;
            .download-button{
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                width: 10%;
                margin-right: 1%;
                padding: 7px;
                background: white;
                color: black;
                font-weight: 600;
                font-size: 12px;
                text-decoration: none;
                border: 1px solid #D0D5DD;
                border-radius: 4px;
            }
            img{
                width: 18px;
                border: none;
            }
        }
        .image-grid{
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            background: white;
        .image{
            width: 251px;
            border-color: white;
            padding: 4px;
        }
    }
}
}