{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ scan.scan_id }} Images: LBDIA</title>
    <link rel="icon" href="{% static 'logo.svg' %}" />
</head>
<link rel="stylesheet" href="{% static 'scan.css' %}"/>
<body>
    <header class="header">
    <div class="header-container">
        <a href="{% url 'search_landing' %}">
        <img src="{% static 'logo.svg' %}">
        <h1>LBDIA</h1>
        </a>
    </div>
    <div class="search-box">
        <form class="search-form" action="{% url 'search_results' %}" method="get">
            <select class="dropdown" name="filter">
            <option selected value="All">All</option>
            <option value="Disease">Disease</option>
            <option value="Modality">Scan Modality</option>
            <option value="Stage">Disease Stage</option>
        </select>
        <input class='search' name="q" id='search' placeholder='Search...'/>
        <div class="search-button">
            <button>
                <img src="{% static 'search.svg' %}" referrerpolicy="no-referrer">
                Search
            </button>
        </div>
        </form>
    </div>
    <div class="login-container">
        <a href="/admin">Login</a>
    </div>
</header>
    <div class="main-container">
        <div class="info-box">
            <div class="back-button">
                <a href="{{request.META.HTTP_REFERER|escape}}"><img src="{% static 'chevron_left.svg' %}"/></a>
            </div>
            <div class="scan-container">
                <p>Scan:</p>
                <h4 class="Scan">{{ scan.scan_id }}</h4>
            </div>
            <div class="patient-info">
                <div>
                    <p>Patient ID:</p>
                    <h4>{{ scan.patient_id }}</h4>
                </div>
                <div>
                    <p>Age:</p>
                    <h4>{{ scan.get_patient.age }}</h4>
                </div>
                <div>
                    <p>Sex:</p>
                    <h4>{{ scan.get_patient.sex }}</h4>
                </div>
                <div>
                    <p>Diagnosis:</p>
                    <h4>{{ scan.get_patient.diagnosis }}</h4>
                </div>
                <div>
                    <p>Stage:</p>
                    <h4>{{ scan.get_patient.disease_stage }}</h4>
                </div>

            </div>
        </div>
        <div class="download-container">
            <a class="download-button" href="{% url 'download_zipfile' scan.scan_id %}">
                <img class="download-button-img" src="{% static 'Download.svg' %}"/>
                Download All
            </a>
        </div>
        <div class="image-grid">
            {% for image in images %}
            <img class='image' referrerpolicy="no-referrer" src={{image.image_url}}  />
        {% endfor %}
        </div>
    </div>
</body>
</html>