<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lewy Body DB</title>
</head>
<style>
table, th, td {
  border:1px solid black

}
</style>
<body>
    <h1>Scans for Parkinson's Disease</h1>
    <table>
        <tr>
            <th>Scan ID</th>
            <th>Scan Type</th>
            <th>Patient ID</th>
            <th>Patient Diagnosis</th>
            <th>Disease Stage</th>
            <th>Image Count</th>
        </tr>

        {% for scan in scan_list %}
            <tr>
                <th>{{ scan.scan_id }}</th>
                <th>{{ scan.scan_type }}</th>
                <th> {{ scan.patient_id }}</th>
                <th> {{ scan.get_patient.diagnosis }}</th>
                <th> {{ scan.get_patient.disease_stage }}</th>
                <th> {{ scan.image_set.all.count }}</th>
            </tr>

        {% endfor %}
    </table>

</body>
</html>