{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lewy Body Disease Imaging Archive</title>
    <link rel="icon" href="{% static 'logo.svg' %}" />
</head>
<link rel="stylesheet" href="{% static 'landing.css' %}"/>
<body>
<header class="header">
    <div class="header-container">
        <img src="{% static 'logo.svg' %}">
        <h1>LBDIA</h1>
    </div>
</header>
<div class='search-container'>
    <div class="search-box">
        <form class="search-form" action="{% url 'search_results' %}" method="get">
            <select class="dropdown" name="filter">
            <option selected value="All">All</option>
            <option value="Disease">Disease</option>
            <option value="Modality">Scan Modality</option>
            <option value="Stage">Disease Stage</option>
        </select>
        <input class='search' name="q" id='search' placeholder='Search...'/>
        <div class="search-button">
            <button>
                <img src="{% static 'search.svg' %}">
                Search
            </button>
        </div>
        </form>
    </div>

</div>
</body>
</html>